{:paths
 ["src/main"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  ring/ring {:mvn/version "1.9.4"}
  integrant/integrant {:mvn/version "0.8.0"}
  environ/environ {:mvn/version "1.2.0"}
  metosin/reitit {:mvn/version "0.5.15"}
  clj-http/clj-http {:mvn/version "3.12.3"}
  ovotech/ring-jwt {:mvn/version "2.2.1"}}

 :aliases
 {:dev
  {:extra-paths ["src/dev"]
   :extra-deps {integrant/repl {:mvn/version "0.3.2"}}}

  :test
  {:extra-paths ["src/test"]
   :extra-deps {ring/ring-mock {:mvn/version "0.4.0"}
                integrant/repl {:mvn/version "0.3.2"}}}}}